<%= render '/layouts/navbar' %>
<div class="container">
  <h3>Restaurants</h3>
  <ol>
    <% @restaurants.each do |restaurant| %>
      <li>
        <%= link_to restaurant.name, restaurant_path(restaurant.id) %>
      </li>
    <% end %>
  </ol>
</div>
